{% extends "base.html" %}
{% block content %}
<form method="post" novalidate>
    <h2>Вход</h2>
    {% if error %}
      <div class="error-message">{{ error }}</div>
    {% endif %}
    <div>
        <label for="username">Логин</label>
        <input type="text" id="username" name="username" required autocomplete="username" />
    </div>
    <div>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required autocomplete="current-password" />
    </div>
    <button type="submit" class="button">Войти</button>
    <p>Нет аккаунта? <a href="/users/register" class="link-button">Зарегистрироваться</a></p>
</form>
{% endblock %}
